* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(255,219,255);
    font-family: "rough-love", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  canvas {
    border: 2px solid steelblue;
    background: #fff;
  }